## macOS
.DS_Store

## Xcode
build/
DerivedData/
*.xcuserdata/
*.xcuserstate
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.moved-aside

## Swift Package Manager
.build/
Packages/
Package.resolved
